[submodule "ros-web-dev"]
	path = ros-web-dev
	url = git@github.com:ros-chef/ros-web-dev.git
[submodule "ros-web-dev-vm"]
	path = ros-web-dev-vm
	url = git@github.com:ros-chef/ros-web-dev-vm.git
[submodule "ros"]
	path = ros
	url = git@github.com:ros-chef/ros.git
[submodule "arduino-ww-shooter"]
	path = arduino-ww-shooter
	url = git@github.com:syrnick/arduino-ww-shooter.git
[submodule "whiff_waff_msgs"]
	path = whiff_waff_msgs
	url = git@github.com:syrnick/whiff_waff_msgs.git
